<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="utf-8">
	    <title>Budget mensuel</title>
	    <link rel="stylesheet" href="css/styles.css">
	    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
 	</head>
 
 
<body>		

	<!-- header -->
	<div th:replace="header :: header"></div>

 	<!-- 1. Add JQuery and Highcharts in the head of your page -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
     
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>
    
    <script src="https://code.highcharts.com/modules/export-data.js"></script> 
      
    <!-- 2. You can add print and export feature by adding this line -->
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    
	<script th:inline="javascript" type="text/javascript">
	 
	<!-- Budget mensuel -->
	  jQuery(document).ready(function() { 
	 Highcharts.chart('container1', {
	 	chart: {
	    	zoomType: 'xy',
	        backgroundColor:'white',
	    },
	    title: {
	        text: 'Budgets mensuels (sans les remboursements et sans epargne)',
	        style: {
	            color: 'black',
	            font: 'bold 25px "Trebuchet MS", Verdana, sans-serif',
	         }
	    },
	    
	    xAxis: {
	        categories: [[${keyBudget}]],
		    labels: {
	            style: {
	                color: 'black',
	                fontSize:'15px'
	            }
        	}
	    },
	    
	      
      yAxis: [{ // Primary yAxis
    	    min:0,
    	    //tickInterval: 1000,
    	    max: 10000,
    	    labels: {
    	      format: '{value} €',
    	      style: {
    	        color: Highcharts.getOptions().colors[1]
    	      }
    	    },
    	    title: {
    	      text: 'Moyenne mensuelle',
    	      style: {
    	        color: Highcharts.getOptions().colors[1]
    	      }
    	    }
    	  }, { // Secondary yAxis
    		 min:0,
    		 //tickInterval: 1000,
    		 max: 10000,
    		 title: {
    	      text: 'Dépenses mensuelle',
    	      style: {
    	        color: Highcharts.getOptions().colors[0]
    	      }
    	    },
    	    labels: {
    	      format: '{value} €',
    	      style: {
    	        color: Highcharts.getOptions().colors[0]
    	      }
    	    },
    	    opposite: true
	    }],    
	            
	      
	    plotOptions: {
	    	area: {
	            fillColor: {
	                pattern: {
	                    path: {
	                        d: 'M 0 0 L 10 10 M 9 -1 L 11 1 M -1 9 L 1 11',
	                        strokeWidth: 3
	                    },
	                    width: 10,
	                    height: 10,
	                    opacity: 0.4
	                }
	            }
	        }
	    },
	    
	    tooltip: {
	        shared: true
	      },
	  
	 	series: [{
	 	   name: 'Budgets mensuels',
		   data: [[${valuesBudget}]],
		   type: 'column',
		   yAxis: 1
	    },
	    {
	       name: 'Budgets moyens mensuels (sans les remboursements)',
		   data: [[${valuesBudgetAverage}]],
	       type: 'spline',
	    }]
	 
	  });
	});
	  
	  
 </script>
 
  <!-- 3. Add the container -->
  <div id="container1" class="graph1" style="width:100%; height:1100px;"></div>

  
 
 <!-- footer block -->
 <!--  <div th:replace="footer :: footer"></div> -->
 <!-- //footer block -->

 </body> 
</html>