<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Dépenses du mois</title>
	<link rel="stylesheet" href="css/styles.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	
</head>


</body>

<!-- header -->
<div th:replace="header :: header"></div>

<div>
	<form name= "enterDate"  method='POST' action="displaymonthstatsupdate.html">
		<table  id="inputCategoryTable">
			<tr>
				<td class="textintable4">	
					<label form="enterDate" for="startDate">Selectionner une date</label>
				</td>
				<td class="textintable4">
					<input id="startDate" class="form-control" type="date" name="startDate">
				</td>
				<td class="textintable4">
					<button name="submit" type="submit" value="submit" class="btn btn-primary">Envoyer</button>
				</td> 
			</tr>
		</table>
	</form>
</div>



<div class="mb-3">
	<label class="form-label">Total des dépenses du mois (€) : </label> <label
		class="form-label" th:text="${sum}"></label>
	<label class="form-label">   à la date du : </label> <label
	class="form-label" th:text="${selecteddate}"></label>
</div>


<!-- 1. Add JQuery and Highcharts in the head of your page -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
    
 <!-- 2. You can add print and export feature by adding this line -->
 <script src="http://code.highcharts.com/modules/exporting.js"></script>

	<!-- limitation on the datapicker to current date-->
	<script type="text/javascript">
	var today = new Date().toJSON().slice(0, 10);
	var date = $('#startDate');
	date.attr('max', today);
	</script>
	
	<script th:inline="javascript" type="text/javascript">
	
	<!-- A. Sommes des dépenses par categories -->
	  jQuery(document).ready(function() {
	  
	 Highcharts.chart('container1', {
	    chart: {
	        type: 'column',
	        backgroundColor:'white'
	    },
	    title: {
	        text: 'Dépenses du mois',
	        style: {
	            color: 'black',
	            font: 'bold 2rem "Trebuchet MS", Verdana, sans-serif'
	         }
	    },
	    
	    xAxis: {
	        categories: [[${keyMonthsStats}]],
		    labels: {
	            style: {
	                color: 'black',
	                fontSize:'15px'
	            }
        	}
	    },
	    
	    
	    yAxis: {
	        title: {
	          text: '€'
	        },
	        labels: {
	            style: {
	                color: 'black',
	                fontSize:'15px'
	            }
        	}
	      },
	    
	    plotOptions: {
	    	area: {
	            fillColor: {
	                pattern: {
	                    path: {
	                        d: 'M 0 0 L 10 10 M 9 -1 L 11 1 M -1 9 L 1 11',
	                        strokeWidth: 3
	                    },
	                    width: 10,
	                    height: 10,
	                    opacity: 0.4
	                }
	            }
	        }
	    },
	    
	    tooltip: {
	        shared: true
	      },
	    
	    series: [{
	        name: 'catégories',
	       data: [[${valuesMonthsStats}]]
	    }]
		});
	});
	    
 </script>


<!-- 3. Add the container -->
<div id="container1" class="graph1" style="width: 100%; height: 800px;"></div>
<div class="div-1" style="width: 100%; height: 60px;"></div>


<!-- footer block -->
<!--   <div th:replace="footer :: footer"></div> -->
<!-- //footer block -->

</body>
</html>