<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="utf-8">
	    <title>Alimentation/hygiène</title>
	    <link rel="stylesheet" href="css/styles.css">
	    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
 	</head>
 	

	<!-- header -->
	<div th:replace="header :: header"></div>

 	<!-- 1. Add JQuery and Highcharts in the head of your page -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
     
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>
    
    <script src="https://code.highcharts.com/modules/export-data.js"></script> 
      
    <!-- 2. You can add print and export feature by adding this line -->
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    
	<script th:inline="javascript" type="text/javascript">
	 
	<!-- A. Sommes des dépenses par categories -->
	  jQuery(document).ready(function() { 
	 Highcharts.chart('container1', {
	    chart: {
	        type: 'column',
	        backgroundColor:'white',
	        options3d: {
	            enabled: true,
	            alpha: 5,
	            beta: 0,
	            depth: 50,
	            viewDistance: 50
	        }
	    },
	    title: {
	        text: 'Alimentation/Hygiène',
	        style: {
	            color: 'black',
	            font: 'bold 2rem "Trebuchet MS", Verdana, sans-serif'
	         }
	    },
	    
	    xAxis: {
	        categories: [[${keyFoodSumPerOperator}]],
		    labels: {
	            style: {
	                color: 'black',
	                fontSize:'15px'
	            }
        	}
	    },
	    
	    
	    yAxis: {
	        title: {
	          text: '€'
	        },
	        labels: {
	            style: {
	                color: 'black',
	                fontSize:'15px'
	            }
        	}
	    },
	    
	    plotOptions: {
	      column: {
    	      depth: 25
    	    }
	    },
	    
	        
	    series: [{
	        name: 'Magasins',
	       data: [[${valuesFoodSumPerOperator}]]
	    }]
		});
	});
	  
	  	  
	 
	 
	 
	  
 </script>
 
  <!-- 3. Add the container -->
  <div id="container1" class="graph1" style="width:100%; height:800px;"></div>
  <div class="div-1" style="width:100%; height:60px;"></div>
  
 
 <!-- footer block -->
 <!--   <div th:replace="footer :: footer"></div> -->
 <!-- //footer block -->

 </body> 
</html>