<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Operations Amazon</title>
	<link rel="stylesheet" href="css/styles.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>

<body>

	<!-- header -->
	<div th:replace="header :: header"></div>


	<!-- category update for an operation based on the operation unique identifier -->
	<div>
	  	<form name='f' th:object="${opCategoryObjectAmazon}" method='POST' action="displayopamazonselect.html">
	        <table>
	        	<tr>
	                <td class="textintable4">
	                	<label for="exampleFormControlInput1" class="form-label">Entrer l'identifiant de l'opération</label>
	                </td>	                	
	                <td class="textintable4">
	                	<input type="text" class="form-control" id="exampleFormControlInput1" placeholder="256" name="opIdTxt">    
	                </td>
	                <td class="textintable4">
	                	<label for="exampleFormControlInput1" class="form-label">Sélectionner la catégorie</label>
	                </td>
	                <td class="textintable4">
	                    <select th:field="*{name}">
	                         <option th:each="category: ${categorieslist}" th:value="${category.name}" th:utext="${category.name}"></option>
	                  </select>
	                </td> 
	                <td class="textintable4"><button name="submit" type="submit" value="submit" class="btn btn-primary">Envoyer</button></td> 
	                <td class="textintable4">
	                	<label for="exampleFormControlInput1" class="form-label textintable5">Résultat: </label>
	                	<label  th:text="${resultMessage}" for="exampleFormControlInput1" class="form-label textintable5"></label>
	                </td>
	            </tr>	            
	        </table>
	    </form>	    
  	</div>


	<div>
		<table id="infoTable" class="table table-hover caption-top">		
			<caption class="captiontable1">Opérations Amazon</caption>
			<tr style="background-color: #EEEEEE">
			    <th>Date opération</th>
			    <th>Date valeur</th>
			    <th>Libellé</th>
			    <th>Débit(€)</th>
			    <th>Crédit(€)</th>
			    <th>Association</th>
			    <th>Mode association</th>
			    <th>Identifiant d'opération</th>
			</tr>
			<tr th:each="operation : ${opBookDataAmazon}">
   				<td th:text="${operation.dateOp}"></td>
   				<td th:text="${operation.dateVal}"></td>
   				<td th:text="${operation.libelle}"></td>
   				<td th:text="${operation.Debit}"></td>
   				<td th:text="${operation.Credit}"></td>
   				<td th:text="${operation.Association}"></td>
   				<td th:text="${operation.aMode}"></td>
   				<td th:text="${operation.opId}"></td>					
			</tr>			
		</table>
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<script src="js/amazon.js" charset="utf-8"></script>
	
	
</body>
</html>