<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head >
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  
</head>

<body>

	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
	

	<header id="site-header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">			
			<a class="navbar-brand" href="Accueil.html"><img width="50" alt="Brand" src="images/littlewitch_petit_logo.png" class="img-responsive" /></a>
			<a class="navbar-brand" hre="">Little Witch</a>			
				<ul class="navbar-nav ms-auto">
					<li class="nav-item">
						<a id="errormsgheader" class="nav-link" style="color:red; " href="inputdataanalysis.html">Erreur ! </a> 
					</li>
					<li class="nav-item">
						<a class="nav-link" href="Accueil.html">Accueil</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="displayuploadoperations.html">Chargement opérations</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="displayopnoassociation.html">Opérations sans associations</a> 
					</li>
					<li class="nav-item">
						<a class="nav-link" href="displayopamazon.html">Amazon operations</a> 
					</li>
					<li class="nav-item">
						<a class="nav-link" href="inputdataanalysis.html">Informations générales</a> 
					</li>
				</ul>
		</nav>
		
		<script type="text/javascript" th:inline="javascript">
			var elem = document.getElementById('errormsgheader');
			// this is populated by Thymeleaf:
			var errorStatus = [[${errorStatus}]];
			console.log("msg: " + errorStatus);
			if (errorStatus == false) {
				elem.style.display = 'none';
			} else
				elem.style.display = 'initial';
		</script>
		
		
	</header>	
	
</body>
</html>