<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="utf-8">
	    <title>informations générales</title>
	    <link rel="stylesheet" href="css/styles.css">
	    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
 	</head>
 
 
<body>		

	<!-- header -->
	<div th:replace="header :: header"></div>

 	<div>
		<table class="table table-hover caption-top">		
			<caption class="captiontable1">Informations générales</caption>
			<tr style="background-color: #EEEEEE">
			    <th>Description</th>
			    <th>Valeur</th>

			</tr>
			<tr >
   				<td th:text="${globalinfo.startDateTxt}"></td>
   				<td th:text="${globalinfo.startDate}"></td>					
			</tr>
			<tr >
   				<td th:text="${globalinfo.endDateTxt}"></td>
   				<td th:text="${globalinfo.endDate}"></td>					
			</tr>
			<tr >
   				<td th:text="${globalinfo.analysisDurationTxt}"></td>
   				<td th:text="${globalinfo.analysisDuration}"></td>					
			</tr>
			<tr >
   				<td th:text="${globalinfo.debitWithoutAssociationTxt}"></td>
   				<td th:text="${globalinfo.debitWithoutAssociation}"></td>					
			</tr>
			<tr >
   				<td th:text="${globalinfo.creditWithoutAssociationTxt}"></td>
   				<td th:text="${globalinfo.creditWithoutAssociation}"></td>					
			</tr>
			<tr >
   				<td th:text="${globalinfo.operationsNumberTxt}"></td>
   				<td th:text="${globalinfo.operationsNumber}"></td>					
			</tr>
				<tr >
   				<td th:text="${globalinfo.operationsWithErrorNumberTxt}"></td>
   				<td th:text="${globalinfo.operationsWithErrorNumber}"></td>					
			</tr>			
		</table>
	</div>

 </body> 
</html>