<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Remboursements et budget moyen avec remboursement</title>
	<link rel="stylesheet" href="css/styles.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>

	<!-- header -->
	<div th:replace="header :: header"></div>

	<!-- 1. Add JQuery and Highcharts in the head of your page -->
	<script type="text/javascript"
		src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>

	<!-- 2. You can add print and export feature by adding this line -->
	<script src="http://code.highcharts.com/modules/exporting.js"></script>
	
	<script src="https://code.highcharts.com/modules/accessibility.js"></script>

	<script th:inline="javascript" type="text/javascript">
	 
	<!-- Remboursements mensuels -->
	  jQuery(document).ready(function() { 
	 Highcharts.chart('container2', {
		chart: {
	    	zoomType: 'xy',
	        backgroundColor:'white',
	    },
	    title: {
	        text: 'Remboursements mensuel et budget moyen avec remboursement',
	        style: {
	            color: 'black',
	            font: 'bold 25px "Trebuchet MS", Verdana, sans-serif',
	         }
	    },
	    
	    xAxis: {
	        categories: [[${keyReimbursement}]],
		    labels: {
	            style: {
	                color: 'black',
	                fontSize:'15px'
	            }
        	}
	    },
	    
	    
	    yAxis: [{ // Primary yAxis
    	    labels: {
    	      format: '{value} €',
    	      style: {
    	        color: Highcharts.getOptions().colors[1]
    	      }
    	    },
    	    title: {
    	      text: 'budget moyen avec remboursement',
    	      style: {
    	        color: Highcharts.getOptions().colors[1]
    	      }
    	    }
    	  }, { // Secondary yAxis
    	    title: {
    	      text: 'Remboursements mensuels',
    	      style: {
    	        color: Highcharts.getOptions().colors[0]
    	      }
    	    },
    	    labels: {
    	      format: '{value} €',
    	      style: {
    	        color: Highcharts.getOptions().colors[0]
    	      }
    	    },
    	    opposite: true
	    }],    
	    
	    plotOptions: {
	    	area: {
	            fillColor: {
	                pattern: {
	                    path: {
	                        d: 'M 0 0 L 10 10 M 9 -1 L 11 1 M -1 9 L 1 11',
	                        strokeWidth: 3
	                    },
	                    width: 10,
	                    height: 10,
	                    opacity: 0.4
	                }
	            }
	        }
	    },
	    
	    
	    series: [{
    	   name: 'Remboursements mensuel',
	       data: [[${valuesReimbursement}]],
		   type: 'column',
		   yAxis: 1
	    },
	    {
	       name: 'Budgets moyens mensuels avec Remboursements',
		   data: [[${valuesAverageBudgetWithReimbursements}]],
	       type: 'spline',
	    }]
    
		});
	});
	  
 </script>

	<!-- 3. Add the container -->
	<div id="container2" class="graph1" style="width: 100%; height: 800px;"></div>


	<!-- footer block -->
	<!--  <div th:replace="footer :: footer"></div> -->
	<!-- //footer block -->

</body>
</html>