<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>résultat du chargement</title>
	<link rel="stylesheet" href="css/styles.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>

	<!-- header -->
	<div th:replace="header :: header"></div>

	<div class="divtable1">
		<table class="table caption-top">
			<caption class="captiontable1">Résultats du chargement des opérations</caption>
			<tr>
			    <th class="textintable1">Section</th>
			    <th class="textintable2">résultat</th>
 		   </tr>
			<tr>
				<td class="textintable1">Chemin d'accès</td>
				<td class="textintable2" th:text="${uploadfilepath}"></td>
			</tr>
			<tr>
				<td class="textintable1">Nombre d'opérations ajoutées</td>
				<td class="textintable2" th:text="${uploadoperationsize}"></td>
			</tr>
			<tr>
				<td class="textintable1">Sauvegarde du fichier des opérations</td>
				<td class="textintable2" th:text="${saveFileResult}"></td>
			</tr>
		</table>
	</div>
</body>
</html>